<section class="news">
  <ul class="news__items">
    <li class="news__item">
      <partial src="_news-card.html" ruta="https://placehold.it/300x50/830000" titulo="Título 1" texto="Lorem ipsum dolor sit amet."></partial>
    </li>
    <li class="news__item">
      <partial src="_news-card.html" ruta="https://placehold.it/300x50/ffcc00" titulo="Título 2" texto="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, harum, earum ex officiis eveniet asperiores distinctio quaerat dicta, aut nostrum ipsum nam sit autem ab commodi molestias perspiciatis excepturi laboriosam."></partial>
    </li>
  </ul>
</section>
