
.flex-container {
  background: rgb(132, 233, 132);
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
}
ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.flex-item{
  border:red 1px solid;
}